version: '3.3'

services:

  api:
    build: ./api
    ports:
      - "8000:8000"
    volumes:
      - ./api:/home/doroto/api
    environment:
      - FLASK_APP=run.py
      - FLASK_DEBUG=1
      - DATABASE_URL=db
    entrypoint: python run.py
    depends_on:
      - db

  db:
    image: mysql
    volumes:
      - dorotodevDB:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: doroto
      MYSQL_USER: doroto
      MYSQL_PASSWORD: doroto

  adminer:
    image: adminer
    restart: always
    ports:
      - 9000:8080

volumes:
    dorotodevDB: